
/* 通用按钮 */
button.project-button {
	margin-top: 40px;
	width: 158px;
	height: 44px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 20px;
	color: #09c8fe;
	background-image: url('../images/btn-back.png');
}
button.project-button:hover {
	color: #fff;
	background-image: url('../images/btn-hover.png');
}
	button.project-button:hover > span[data-text]::after{
		color: #fff;
	}
	button.project-button > span {
		position: relative;
	}
	/* 深 ： #0365ff  浅 ：#09c8fe */
	button.project-button > span[data-text]::after {
		content: attr(data-text);  
		position: absolute;  
		left: 0;  
		z-index: 2;
		color: #0365ff;  
		-webkit-mask-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#ff0000), to(rgba(0, 0, 255, 0)));
    }

/* CSS3 效果 */
.transition-all-5,.transition-all-5 * {
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	-moz-transition: all 0.5s;
}
div.main{
	width: 1200px;
	margin: 0 auto;
	height: 100%;
}

/* 主题广告开始 */
section.theme {
	height: 605px;
	background-color: #007fd3;
	background-image: url(../images/threme-back.png);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
	color: #fff;
}
	section.theme > div {
		padding-top: 170px;
	} 
		section.theme > div > h1 {
			font-size: 38px;
		}
		section.theme > div > h3 {
			margin-top: 25px;
			line-height: 30px;
		}
		section.theme > div > h4 {
			font-size: 15.5px;
        }

        body > section {
            overflow: hidden;
        }

/* 主标题通用样式 */
section.currency > div > h1 {
    font-size: 32px;
    color: #4b4b4b;
    text-align: center;
    font-weight: bold;
    padding: 45px 0px 40px;
}

/* 首页主题标题通用样式开始 */
section.index-currency {
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
}
    section.index-currency > div > h1 {
        font-size: 32px;
        color: #525252;
        text-align: center;
        line-height: 60px;
        padding-top: 40px;
    }
    section.index-currency > div > h2 {
        height: 1px;
        background-color: #224e6b;
        width: 50px;
        margin: 0 auto;
    }
    section.index-currency > div > p {
        font-size: 22px;
        text-align: center;
        color: #9fa6a9;
        line-height: 40px;
        padding-bottom: 40px;
    }

/*                                                     首页开始                                                */
/*                                                     首页开始                                                */
/* 商标事务开始 */
section#index-currency {
    height: 620px;
}
section.affair {
	height: 350px;
	background-color: white;
}
	ul.affair-list {
		height: 170px;
	}
		ul.affair-list > li {
			width: 16.66%;
			float: left;
			cursor: pointer;
		}
			ul.affair-list > li > div {
				width: 83px;
				height: 83px;
				margin: 0 auto;
				overflow: hidden;
				background-repeat: no-repeat;
				background-size: cover;
			}
			ul.affair-list > li:nth-child(1) > div {
				background-image: url(../images/affair-1.png);
			}
			ul.affair-list > li:nth-child(1):hover > div {
				background-image: url(../images/affair-1-hover.png);
			}

			ul.affair-list > li:nth-child(2) > div {
				background-image: url(../images/affair-2.png);
			}
			ul.affair-list > li:nth-child(2):hover > div {
				background-image: url(../images/affair-2-hover.png);
			}

			ul.affair-list > li:nth-child(3) > div {
				background-image: url(../images/affair-3.png);
			}
			ul.affair-list > li:nth-child(3):hover > div {
				background-image: url(../images/affair-3-hover.png);
			}

			ul.affair-list > li:nth-child(4) > div {
				background-image: url(../images/affair-4.png);
			}
			ul.affair-list > li:nth-child(4):hover > div {
				background-image: url(../images/affair-4-hover.png);
			}

			ul.affair-list > li:nth-child(5) > div {
				background-image: url(../images/affair-5.png);
			}
			ul.affair-list > li:nth-child(5):hover > div {
				background-image: url(../images/affair-5-hover.png);
			}

			ul.affair-list > li:nth-child(6) > div {
				background-image: url(../images/affair-6.png);
			}
			ul.affair-list > li:nth-child(6):hover > div {
				background-image: url(../images/affair-6-hover.png);
			}

			ul.affair-list > li > p {
				text-align: center;
				font-size: 23px;
				color: #224d70;
				line-height: 65px;
			}

/* 和协优势开始 */
section.advantage {
	height: 495px;
	background-color: #f2f2f2;
}
	ul.advantage-list{
		height: auto;
	}
		ul.advantage-list > li:first-child{
			float: left;
		}
		ul.advantage-list > li:last-child{
			float: right;
		}
			div.advantage-item {
				padding-bottom: 60px;
			}
				div.advantage-item > div {
					display: inline-block;
					min-height: 70px;
				}
				div.advantage-item > div:first-child {
					height: 70px;
					width: 70px;
					margin-right: 20px;
					vertical-align: top;
				}
				div.advantage-item > div:last-child {
					max-width: 380px;
				}
					div.advantage-item > div:last-child > h1 {
						color: #6f6f6f;
						font-size: 23px;
						line-height: 40px;
					}
					div.advantage-item > div:last-child > h4 {
						color: #8f8f8f;
						font-size: 15px;
					}
/* 成功案例开始 */
section.case {
	height: 620px;
	background-color: white;
	text-align: center;
}
	ul.case-list > li {
		height: 158px;
		width: 20%;
		border-right: 1px solid #ebebeb;
		border-top: 1px solid #ebebeb;
		float: left;
		position: relative;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
	ul.case-list > li:nth-child(1){
		background-image: url(../images/case-1.png);
	}
	ul.case-list > li:nth-child(2){
		background-image: url(../images/case-2.png);
	}
	ul.case-list > li:nth-child(3){
		background-image: url(../images/case-3.png);
	}
	ul.case-list > li:nth-child(4){
		background-image: url(../images/case-4.png);
	}
	ul.case-list > li:nth-child(5){
		background-image: url(../images/case-5.png);
	}
	ul.case-list > li:nth-child(6){
		background-image: url(../images/case-6.png);
	}
	ul.case-list > li:nth-child(7){
		background-image: url(../images/case-7.png);
	}
	ul.case-list > li:nth-child(8){
		background-image: url(../images/case-8.png);
	}
	ul.case-list > li:nth-child(9){
		background-image: url(../images/case-9.png);
	}
	ul.case-list > li:nth-child(10){
		background-image: url(../images/case-10.png);
	}
	ul.case-list > li:hover {
		background-position: center top;
	}

	ul.case-list > li:nth-child(5n+1){
		border-left: 1px solid #ebebeb;
	}
	ul.case-list > li:nth-child(1n+6){
		border-bottom: 1px solid #ebebeb;
	}
		ul.case-list > li > a {
			display: block;
			height: 100%;
		}

/* 新闻中心开始 */
section.news {
	height: 650px;
	background-color: #275875;
	background-image: url(../images/news-back.jpg);
}
	section.news > div.main > h1 {
		color: #fff;
		padding-top: 30px;
	}
	section.news > div.main > p {
		color: #fff;
		padding-bottom: 20px;
	}
	section.news nav {
		position: relative;
		margin-bottom: 10px;
	}
		section.news nav > a {
			position: absolute;
			right: 0;
			top: 20px;
			font-size: 15px;
			color: #007fd3;
		}

	ul.news-type-list {
		height: 50px;
		border-bottom: 1px solid #7695a9;
	}
		ul.news-type-list > li {
			line-height: 50px;
			color: #c1c1c1;
			font-size: 24px;
			text-align: center;
			float: left;
			width: 140px;
			cursor: pointer;
			position: relative;
		}
		ul.news-type-list > li.active {
			color: #fff;
		}
		ul.news-type-list > li.active:after {
			content: "";
			position: absolute;
			bottom: -1px;
			left: 0px;
			width: 100%;
			height: 3px;
			background-color: #007fd3;
		}


	div.container {
		overflow: hidden;
		width: 100%;
	}
		ul.news-con-list {
			height: 400px;
			width: 200%;
			position: relative;
			transition: all 0.5s;
			-webkit-transition: all 0.5s;
			left: 0%;
		}
			ul.news-con-list > li {
				float: left;
				width: 50%;
			}
				section.news aside {
					float: left;
					width: 50%;
					height: 400px;
				}	
					div.news-details {
						height: 280px;
						overflow: hidden;
						position: relative;
					}
						ul.news-details-bak {
							width: 300%;
							height: 285px;
							position: relative;
							left: 0%;
							transition: all 1s;
							-webkit-transition: all 1s;
						}
							ul.news-details-bak > li {
								width: 33.33%;
								float: left;
								height: 100%;
							}
						div.news-details > div {
							position: absolute;
							right: 20px;
							bottom: 10px;
						}
							div.news-details > div > i {
								display: inline-block;
								height: 10px;
								width: 10px;
								border-radius: 50%;
								background-color: #fff;
								margin-left: 7px;
								opacity: 0.2;
								cursor: pointer;
							}
							div.news-details i.active {
								opacity: 0.7;
							}
							section.news aside img {
								width: 100%;
							}

					section.news aside:first-of-type > article {
						padding: 20px;
						position: relative;
						color: #fff;
						background-color: #3f86d7;
						height: 120px;
					}	
						div.news-details-text {
							height: 100%;
							display: none;
							transition: all 1s;
							-webkit-transition: all 1s;
						}
						ul.news-con-list div.news-details-text:first-child {
							display: block;
						}
							div.news-details-text > h1 {
								font-size: 20px;
								font-weight: bold;
								padding-bottom: 10px;

							}
							div.news-details-text > h4 {
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
							}
							div.news-details-text > time {
								position: absolute;
								right: 25px;
								top: 20px;
							}
				ul.news-details-con {
					height: 100%;
				}
				ul.news-details-con > li {
					height: 20%;
					background-color: #fff;
					padding: 10px 30px;
					border-bottom: 2px solid #7695a9;
				}
				ul.news-details-con > li:last-child{
					border: none;
				}
					ul.news-details-con div:first-child {
						float: left;
						width: 450px;
					}
					ul.news-details-con div:last-child {
						width: 65px;
						float: right;
						text-align: center;
						font-size: 0;
					}
						ul.news-details-con h3 {
							color: #757575;
							font-weight: bold;
							line-height: 35px;
						}
						ul.news-details-con h5 {
							font-size: 14px;
							color: #9fa6a9;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
						}
						ul.news-details-con time {
							color: #757575;
							font-size: 14px;
							line-height: 35px;
						}
						ul.news-details-con a {
							font-size: 14px;
							color: #9fa6a9;
						}
						ul.news-details-con a:hover{
							color: #007fd3;
						}

/* 服务流程开始 */
section.process {
	height: 405px;
	background-color: white;
	background-image: url(../images/process-back.png);
}
	ul.process-list > li {
		color: #7b7b7b;
		text-align: center;
		line-height: 25px;
		width: 14.28%;
		float: left;
		position: relative;
	}
		ul.process-list > li > img {
			margin-bottom: 35px;
		}
		ul.process-list > li > div {
			width: 90px;
			height: 30px;
			position: absolute;
			right: -45px;
		}
		ul.process-list > li:nth-child(2n+0) > div{
			top: 65px;
			background-image: url(../images/process-next-bottom.png);
		}
		ul.process-list > li:nth-child(2n+1) > div{
			top: -20px;
			background-image: url(../images/process-next-top.png);
		}

/* 问题快速答疑通道开始 */
section.doubt {
	height: 565px;
	background-color: #f2f2f2;
}
	ul.doubt-list > li {
		width: 280px;
		height: 390px;
		background-color: #fff;
		border-radius: 10px;
		border: 1px solid #ddd;
		float: left;
		margin-right: 26px;
		padding: 40px 30px;
		text-align: center;
	}
	ul.doubt-list > li:last-child{
		margin-right: 0;
	}
		ul.doubt-list > li > h1 {
			color: #3f86d7;
			font-size: 33px;
			padding-bottom: 20px;
		}
		ul.doubt-list > li > h4 {
			color: #7b7b7b;
			line-height: 43px;
			border-bottom: 1px solid #ddd;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		ul.doubt-list > li > h4:last-of-type{
			border: none;
		}
			ul.doubt-list > li > h4 > a:hover {
				color: #3f86d7;
			}
		ul.doubt-list > li > button {
			width: 130px;
			height: 40px;
			line-height: 40px;
			margin-top: 30px;
			color: #3f86d7;
			border: 1px solid #3f86d7;
			border-radius: 3px;
			font-size: 20px;
		}
		ul.doubt-list > li > button:hover{
			background-color: #3f86d7;
			color: #fff;
        }



/*                                                     商标注册 开始                                                */
/*                                                     商标注册 开始                                                */

/*  注册流程开始  */
section.process {
	height: 540px;
	background-color: white;
	background-image: url('../images/trademark/process-back.png');
	background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
	text-align: center;
	overflow: hidden;
}
	ul.process-region {
		width: 640px;
		height: 90px;
		padding-top: 40px;
		text-align: center;
		color: #246fd5;
		margin: 0 auto;
	}
		ul.process-region > li {
			font-size: 22px;
			background-color: #fff;
			width: 300px;
			height: 50px;
			line-height: 45px;
			/* border: 1px solid #246fd5; */
			float: left;
			cursor: pointer;
			background-position: center top;
			background-repeat: no-repeat;
			background-size: 100% auto;
			position: relative;
		}
		ul.process-region > li:first-child {
			margin-right: 40px;
			background-image: url('../images/trademark/process-1.png');
		}
		ul.process-region > li:last-child {
			background-image: url('../images/trademark/process-2.png');
		}
		ul.process-region > li.active {
			/* background-color: #246fd5; */
			background-position: center bottom;
			/* color: #FFF; */
		}
		ul.process-region > li.active:after{
			content: "";
			position: absolute;
			left: 135px;
			bottom: -10px;
			width: 0;
			height: 0;
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-top: 10px solid #246fd5;
		}

/*	ul.process-list {
		height: 205px;
	}*/
		ul.process-list > li {
			color: #7b7b7b;
			text-align: center;
			line-height: 25px;
			width: 14.28%;
			float: left;
			position: relative;
			padding-top: 30px;
		}
			ul.process-list > li > img {
				margin-bottom: 35px;
			}
			ul.process-list > li > div {
				width: 90px;
				height: 30px;
				position: absolute;
				right: -45px;
			}
			ul.process-list > li:nth-child(2n+0) > div{
				top: 95px;
				background-image: url('../images/process-next-bottom.png');
			}
			ul.process-list > li:nth-child(2n+1) > div{
				top: 10px;
				background-image: url('../images/process-next-top.png');
			}

/* 和协对比其它品牌开始 */
section.contrast {
	height: 1110px;
	background-color: #f8f8f8;
	overflow: hidden;
}
	div.contrast-title {
		width: 1105px;
		height: 65px;
		margin: 0 auto;
		line-height: 65px;
		color: #FFF;
		text-align: center;
		font-size: 0;
		background-image: url('../images/trademark/contrast-title-bak.png');
		background-repeat: no-repeat;
	}
		div.contrast-title > span:nth-child(2n+1){
			display: inline-block;
			width: 40%;
			font-size: 32px;
		}
		div.contrast-title > span:nth-child(2){
			display: inline-block;
			width: 20%;
			font-size: 45px;
			font-weight: bold;
			vertical-align: top;
		}

	div.contrast-con {
		height: 890px;
		width: 1105px;
		margin: 0 auto;
		border: 1px solid #5cbfff;
		border-top: none;
		padding: 30px 120px;
		text-align: center;
	}
		ul.contrast-list > li {
			height: 110px;
/*			border: 1px solid #5cbfff;*/
			margin-bottom: 15px;
			padding: 0px 30px;
			text-align: left;
			background-repeat: no-repeat;
			background-image: url('../images/trademark/contrast-list-bak.png');
		}
		ul.contrast-list > li:last-child{
			margin-bottom: 0px;
		}
			ul.contrast-list > li > div{
				width: 50%;
				float: left;
				position: relative;
			}
				ul.contrast-list > li > div > div {
					height: 27px;
					width: 88px;
					position: absolute;
					top: 40px;
					right: -44px;
					color: #fff;
					text-align: center;
					font-size: 17px;
					line-height: 25px;
					background-image: url('../images/trademark/contrast-vs.png');
				}
					ul.contrast-list > li > div > span {
						display: inline-block;
						width: 270px;
						padding-left: 13px;
						line-height: 25px;
					}
				ul.contrast-list > li > div:first-child {
					color: #595959;
				}
					ul.contrast-list > li > div:first-child > img {
						width: 50px;
						height: 50px;
						margin-top: 30px;
						vertical-align: bottom;
						display: inline-block;
					}
				ul.contrast-list > li > div:last-child {
					color: #6f7070;
				}
					ul.contrast-list > li > div:last-child > img {
						width: 50px;
						height: 50px;
						margin-top: 30px;
						margin-left: 70px;
						vertical-align: bottom;
						display: inline-block;
					}
					img.contrast-my-3 { margin-bottom: 20px; }
					span.contrast-to-3 { padding-bottom: 15px; }

/* 企业首选开始 */
section.case {
	height: 560px;
	background-color: white;
	text-align: center;
	overflow: hidden;
}
	ul.case-list > li {
		height: 158px;
		width: 20%;
		border-right: 1px solid #ebebeb;
		border-top: 1px solid #ebebeb;
		float: left;
		position: relative;
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center bottom;
	}
	ul.case-list > li:nth-child(1){
		background-image: url('../images/case-1.png');
	}
	ul.case-list > li:nth-child(2){
		background-image: url('../images/case-2.png');
	}
	ul.case-list > li:nth-child(3){
		background-image: url('../images/case-3.png');
	}
	ul.case-list > li:nth-child(4){
		background-image: url('../images/case-4.png');
	}
	ul.case-list > li:nth-child(5){
		background-image: url('../images/case-5.png');
	}
	ul.case-list > li:nth-child(6){
		background-image: url('../images/case-6.png');
	}
	ul.case-list > li:nth-child(7){
		background-image: url('../images/case-7.png');
	}
	ul.case-list > li:nth-child(8){
		background-image: url('../images/case-8.png');
	}
	ul.case-list > li:nth-child(9){
		background-image: url('../images/case-9.png');
	}
	ul.case-list > li:nth-child(10){
		background-image: url('../images/case-10.png');
	}
	ul.case-list > li:hover {
		background-position: center top;
	}

	ul.case-list > li:nth-child(5n+1){
		border-left: 1px solid #ebebeb;
	}
	ul.case-list > li:nth-child(1n+6){
		border-bottom: 1px solid #ebebeb;
	}
		ul.case-list > li > a {
			display: block;
			height: 100%;
		}

/* 保驾护航开始 */
section.escort {
	height: 890px;
	background-color: #f8f8f8;
	text-align: center;
	overflow: hidden;
}
	section.escort button {
		margin-top: 55px;
	}
	ul.expert-list {
		position: relative;
		height: 615px;
	}
		ul.expert-list > li {
			width: 20%;
			height: 600px;
			text-align: left;
			margin-top: 15px;
			position: absolute;
			top: 0px;
			cursor: pointer;
		}
		ul.expert-list > li:nth-child(1){left: 0%;}
		ul.expert-list > li:nth-child(2){left: 20%;}
		ul.expert-list > li:nth-child(3){left: 40%;}
		ul.expert-list > li:nth-child(4){left: 60%;}
		ul.expert-list > li:nth-child(5){left: 80%;}
		ul.expert-list > li:nth-child(odd){
			background-color: #FFF;
		}
		ul.expert-list > li:nth-child(even){
			background-color: #e0e0e0;
		}
		ul.expert-list > li:hover {
			transform: scale(1.1,1.1);
			-webkit-transform: scale(1.1,1.1);
			-o-transform: scale(1.1,1.1);
			-moz-transform: scale(1.1,1.1);
			z-index: 9;
			background: -webkit-linear-gradient(#006bff, #02b9fe); /* Safari 5.1 - 6.0 */
			background: -o-linear-gradient(#006bff, #02b9fe); /* Opera 11.1 - 12.0 */
			background: -moz-linear-gradient(#006bff, #02b9fe); /* Firefox 3.6 - 15 */
			background: linear-gradient(#006bff, #02b9fe); /* 标准的语法 */
		}
		ul.expert-list > li:hover h1 {color: #FFF;}
		ul.expert-list > li:hover h4 {color: #FFF;}
		ul.expert-list > li:hover h5 {background-color: #FFF; color: #006bff;}
		ul.expert-list > li:hover > div.expert-item > div {
			border-bottom: 1px solid #FFF;
		}
		ul.expert-list > li:hover > div.expert-item > aside:nth-of-type(2) {
			display: block;
		}
		ul.expert-list > li:hover > div.expert-item > aside:nth-of-type(1) {
			display: none;
		}

			div.expert-item {
				height: 100%;
				padding: 40px 30px;
				background-repeat: no-repeat;
				background-size: 100% auto;
				background-position: center bottom;
			}
			ul.expert-list > li:nth-child(1) > div.expert-item{
				background-image: url('../images/trademark/escort-1.png');
			}
			ul.expert-list > li:nth-child(2) > div.expert-item{
				background-image: url('../images/trademark/escort-2.png');
			}
			ul.expert-list > li:nth-child(3) > div.expert-item{
				background-image: url('../images/trademark/escort-3.png');
			}
			ul.expert-list > li:nth-child(4) > div.expert-item{
				background-image: url('../images/trademark/escort-4.png');
			}
			ul.expert-list > li:nth-child(5) > div.expert-item{
				background-image: url('../images/trademark/escort-5.png');
			}
				div.expert-item > div {
					padding-bottom: 30px;
					height: 75px;
					border-bottom: 1px solid #224e6b;
					margin-bottom: 25px;
				}
				div.expert-item > aside:last-child {
					display: none;
				}
					div.expert-item > div > h1 {
						font-size: 36px;
						color: #224e6b;
						display: inline-block;
						float: left;
					}
					div.expert-item > div > h5 {
						font-size: 14px;
						color: #FFF;
						background-color: #224e6b;
						text-align: center;
						height: 20px;
						width: 65px;
						border-radius: 5px;
						line-height: 20px;
						display: inline-block;
						float: right;
						margin-top: 25px;
					}
				div.expert-item > aside > h4 {
					color: #6f8596;
					line-height: 25px;
				}

/* 售后服务开始 */
section.service {
	height: 640px;
	background-color: #FFF;
	overflow: hidden;
}
	ul.service-list {
		padding-top: 40px;
		height: 470px;
	}
		ul.service-list > li {
			height: 425px;
			width: 380px;
			border: 1px solid #0182fe;
			border-radius: 10px;
			float: left;
			margin-right: 30px;
			padding: 40px 30px;
			position: relative;
		}
		ul.service-list > li:last-child{
			margin-right: 0px;
		}
			ul.service-list > li > h1 {
				font-size: 30px;
				color: #0182fe;
				text-align: center;
				line-height: 90px;
			}
			ul.service-list > li > div {
				width: 95px;
				height: 95px;
				position: absolute;
				left: 142px;
				top: -48px;
				background-color: #0182fe;
				border-radius: 50%;
				padding: 22px;
			}
			ul.service-list > li > h4 {
				line-height: 25px;
				color: #636363;
			}

/*  我要注册开始  */
section.register {
	height: 386px;
	background-color: #3373c0;
	text-align: center;
	background-image: url('../images/trademark/register-bak.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto 100%;
	overflow: hidden;
}
	section.register > div.main {
		width: 730px;
		margin: 0 auto;
		text-align: right;
	}
		section.register > div > h1 {
			color: #FFF;
			font-size: 32px;
		    text-align: center;
		    font-weight: bold;
		    padding: 45px 0px 40px;
		}
		section.register label {
			color: #FFF;
			font-size: 26px;
			padding-right: 15px;
		}
		section.register input {
			width: 586px;
			height: 56px;
			border-radius: 5px;
			font-size: 22px;
			padding: 10px 20px;
		}
		section.register input:last-of-type{
			margin-top: 18px;
			margin-bottom: 50px;
		}
		section.register button {
			cursor: pointer;
			display: block;
			width: 160px;
			height: 45px;
			margin: 0 auto;
		}

/* 立享五大免费服务开始 */
section.free-admission {
	height: 330px;
	background-color: #FFF;
	overflow: hidden;
}
	ul.free-admission-list > li {
		width: 20%;
		float: left;
		text-align: center;
	}
		ul.free-admission-list > li > h3 {
			color: #394b50;
			line-height: 75px;
		}


/*                                                     商标变更 开始                                                */
/*                                                     商标变更 开始                                                */

/* 商标变更类型开始 */
section.change {
    height: 352px;
    background-color: #fff;
    overflow: hidden;
}
    ul.change-list > li {
        float: left;
        color: #747474;
        text-align: center;
        line-height: 25px;
        width: 16.66%;
        cursor: pointer;
    }
    ul.change-list > li:hover {
        color: #0097ea;
    }
        ul.change-list > li:hover > img {
            transform: scale(1.3,1.3);
            -webkit-transform: scale(1.2,1.2);
            -moz-transform: scale(1.2,1.2);
            -o-transform: scale(1.2,1.2);
        }
        ul.change-list > li > img {
            height: 110px;
            width: 90px;
            padding-bottom: 20px;
        }
        ul.change-list > li > h3 {
            font-size: 17px;
        }

/* 您只需提供资料,剩下的全交给我们 */
section.better {
    height: 705px;
    background-color: #101e30;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/change/better.jpg');
    overflow: hidden;
}
    section.better > div { width: 895px; }
    section.better > div > h1 { 
        color: #FFF !important; 
        margin-bottom: 10px; 
    }
    ul.better-list > li {
        width: 440px;
        height: 93px;
        border-radius: 45px;
        border: 1px solid #5cbfff;
        background-color: #3f86d7;
        margin: -7px 0px;
    }
    ul.better-list > li:nth-child(even){
        position: relative;
        left: 440px;
    }
        ul.better-list > li > h3 {
            color: #FFF;
            font-size: 18px;
            margin-top: 20px;
            display: inline-block;
            width: 305px;
            padding-left: 13px;
        }
        ul.better-list > li:first-child > h3{
            line-height: 50px;
        }
        ul.better-list > li:last-child > h3{
            line-height: 50px;
        }
        ul.better-list > li > img {
			vertical-align: top;
			padding: 20px;
        }
    
    
/*                                                     驳回复审 开始                                                */
/*                                                     驳回复审 开始                                                */
/* 您只需提供资料,剩下的全交给我们开始 */
section.provide {
    height: 300px;
    background-color: #FFF;
}
    ul.provide-list {
        height: 130px;
        border-top: 1px solid #d6d6d6;
        border-left: 1px solid #d6d6d6;
    }
        ul.provide-list > li {
            border-right: 1px solid #d6d6d6;
            border-bottom: 1px solid #d6d6d6;
            width: 20%;
            height: 100%;
            float: left;
            text-align: center;
            padding-top: 20px;
            position: relative;
        }
            ul.provide-list > li h4 {
                line-height: 40px;
                color: #4b4b4b;
            }
            ul.provide-list > li:hover a > div {
                display: block;
            }
                div.provide-item-hover {
                    position: absolute;
                    top: 0;
                    width: 300%;
                    background-color: white;
                    height: 100%;
                    z-index: 2;
                    background-repeat: no-repeat;
                    display: none;
                }
                    div.provide-item-hover > div {
                        width: 240px;
                        height: 130px;
                        text-align: center;
                        padding-top: 35px;
                        display: inline-block;
                        vertical-align: bottom;
                    }
                    div.provide-item-hover > h3 {
                        width: 420px;
                        padding-bottom: 35px;
                        padding-left: 15px;
                        display: inline-block;
                        color: #717171;
                        line-height: 30px;
                        text-align: left;
                    }

                div.provide-left { 
                    left: 0; 
                    text-align: left;
                    background-image: url('../images/reexamine/provide-bak-left.png');
                }
                div.provide-right { 
                    right: 0; 
                    text-align: right;
                    background-position: right center;
                    background-image: url('../images/reexamine/provide-bak-right.png'); 
				}
		section.provide div.event {
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			z-index: 9;
			cursor: pointer;
		}



/*                                                     商标续展 开始                                                */
/*                                                     商标续展 开始                                                */
/* 商标续展流程六步走 开始 */
section.extension {
    height: 390px;
    background-color: #FFF;
    text-align: center;
    position: relative;
}
    section.extension > div > h3 {
        position: absolute;
        left: 0px;
        bottom: 40px;
        font-size: 20px;
        color: #727272;
        width: 100%;
        display: none;
    }
    ul.extension-list {
        height: 190px;
    }
        ul.extension-list > li {
            height: 130px;
            width: 190px;
            border: 1px solid #4187d7;
            margin-right: 12px;
            float: left;
            padding: 25px;
            cursor: pointer;
            position: relative;
            top: 0px;
            transition: top 0.5s;
            -webkit-transition: top 0.5s;
            -o-transition: top 0.5s;
            -moz-transition: top 0.5s;
        }
        ul.extension-list > li:hover{
            background-color: #4187d7;
            top: 20px;
        }
        ul.extension-list > li:hover::after{
            content: "";
            position: absolute;
            left: 65px;
            bottom: -20px;
            width: 0px;
            height: 0px;
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-top: 20px solid #4187d7;
        }
            ul.extension-list > li:hover > h3{
                color: #FFF;
            }
            ul.extension-list > li:hover > div{
                background-position: center bottom;
            }
        ul.extension-list > li:last-child{
            margin-right: 0;
        }
            ul.extension-list > li > h3 {
                color: #4b4b4b;
                line-height: 35px;
            }
            ul.extension-list > li > div {
                width: 55px;
                height: 55px;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-position: center top;
                background-size: 100% auto;
            }
            ul.extension-list > li:nth-child(1) > div {
                background-image: url('../images/extension/step_1.png');
            }
            ul.extension-list > li:nth-child(2) > div {
                background-image: url('../images/extension/step_2.png');
            }
            ul.extension-list > li:nth-child(3) > div {
                background-image: url('../images/extension/step_3.png');
            }
            ul.extension-list > li:nth-child(4) > div {
                background-image: url('../images/extension/step_4.png');
            }
            ul.extension-list > li:nth-child(5) > div {
                background-image: url('../images/extension/step_5.png');
            }
            ul.extension-list > li:nth-child(6) > div {
                background-image: url('../images/extension/step_6.png');
            }

/* 商标不续展,重新注册九死一生 */
section.close-call {
    height: 525px;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    background-image: url('../images/extension/close_call_bak.jpg');
    overflow: hidden;
}
    section.close-call > div > h1 {
        color: #FFF;
    }
    ul.close-call-list {
        width: 930px;
        margin: 0 auto;
    }
        ul.close-call-list > li {
            float: left;
            text-align: center;
            height: 55px;
        }
        ul.close-call-list > li:nth-child(3n+1){
            width: 45%;
            color: #fff;
            padding-right: 50px;
        }
        ul.close-call-list > li:nth-child(3n+2){
            width: 10%;
            color: #fff;
        }
        ul.close-call-list > li:nth-child(3n+3){
            width: 45%;
            color: #c5c5c5;
            padding-left: 50px;
        }

    section.close-call ul.title {
        font-size: 24px;
        height: 55px;
    }
    section.close-call ul.item {
        font-size: 18px;
    }
        section.close-call ul.item > li {
            height: 115px;
            position: relative;
        }
            section.close-call ul.item > li > span {
                color: #13a3ff;
            }
            section.close-call ul.item > li > p {
                position: absolute;
                width: 2px;
                height: 100%;
                background-color: #13a3ff;
                top: 53px;
                left: 50%;
            }


/*                                                     国际商标注册 开始                                                */
/*                                                     国际商标注册 开始                                                */
/* 国家地区开始 */
section.region {
	height: 630px;
	background-color: #f2f2f2;
	text-align: center;
}
	ul.continent-list {
		height: 45px;
	}
		ul.continent-list > li {
			width: 140px;
			height: 45px;
			border: 1px solid #0182fe;
			color: #0182fe;
			line-height: 40px;
			text-align: center;
			font-size: 24px;
			float: left;
			margin-right: 36.6px;
			border-radius: 5px;
			cursor: pointer;
		}
		ul.continent-list > li:last-child {
			margin-right: 0;
		}
		ul.continent-list > li.active {
			background: -webkit-linear-gradient(#006bff, #02b9fe); /* Safari 5.1 - 6.0 */
			background: -o-linear-gradient(#006bff, #02b9fe); /* Opera 11.1 - 12.0 */
			background: -moz-linear-gradient(#006bff, #02b9fe); /* Firefox 3.6 - 15 */
			background: linear-gradient(#006bff, #02b9fe); /* 标准的语法 */
			color: #fff;
			border: none;
		}
	div.continent-container {
		width: 960px;
		margin: 0 auto;
		height: 332px;
		overflow: hidden;
	}
		ul.continent-item {
			width: 700%;
			height: 100%;
			position: relative;
			left: 0%;
		}
			ul.continent-item > li {
				width: 960px;
				float: left;
			}
				ul.country-list {
					height: 332px;
				}
					ul.country-list > li {
						width: 160px;
						float: left;
						padding-top: 40px;
					}
						ul.country-list > li > div {
							height: 90px;
							width: 90px;
							margin: 0 auto;
							border-radius: 50%;
						}
						ul.country-list > li > h3 {
							text-align: center;
							padding-top: 10px;
							color: #9b9b9b;
							font-size: 20px;
						}
				ul.organization-list {
					height: 332px;
				}
					ul.organization-list > li {
						float: left;
						padding-top: 40px;
						width: 50%;
						height: 175px;
					}
					ul.organization-list > li:nth-child(odd){
						padding-right: 20px;
					}
					ul.organization-list > li:nth-child(even){
						padding-left: 20px;
					}
						ul.organization-list > li > div {
							display: inline-block;
							height: 90px;
							vertical-align: top;
						}
						ul.organization-list > li > h5 {
							display: inline-block;
							width: 365px;
							text-align: left;
							color: #9b9b9b;
							padding-left: 20px;
							font-size: 14px;
						}
				
				ul.madrid-list {
					height: 332px;
				}
					ul.madrid-list > li {
						padding-top: 40px;
						text-align: left;
					}
						ul.madrid-list > li > div {
							display: inline-block;
							height: 250px;
							width: 200px;
							vertical-align: top;
						}
						ul.madrid-list > li > h5 {
							display: inline-block;
							width: 755px;
							text-align: left;
							color: #9b9b9b;
							padding-left: 20px;
							font-size: 17px;
						}



/*                                                     商标撤三 开始                                                */
/*                                                     商标撤三 开始                                                */
/* 商标使用证据审查类别 */
section.examination {
	height: 350px;
}
	ul.examination-list > li {
		float: left;
		width: 20%;
	}
		ul.examination-list > li > h3 {
			color: #737373;
			line-height: 45px;
		}

/* 您只需签个字,剩下的我们来 */
section.only-sign {
	height: 590px;
	background-image: url('../images/eliminate/only-sign-bak.jpg');
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: center;
	background-color: #225d9f;
	position: relative;
}
		section.only-sign > h1 {
			color: #FFF;
			font-size: 32px;
			text-align: center;
			font-weight: bold;
			padding: 45px 0px 40px;
		}
		section.only-sign > div {
			position: absolute;
			color: #FFF;
			font-size: 15px;
			padding: 20px 15px;
			background-color: rgba(255, 255, 255, 0.2);
			cursor: pointer;
		}
		section.only-sign > div:hover{
			background-color: #ed9d2c;
		}
		section.only-sign > div:hover::after{
			border-bottom-color: #ed9d2c;
		}
		section.only-sign > div:hover::before{
			border-left-color: #ed9d2c;
		}
		section.only-sign > div::after{
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			left: 55px;
			border-bottom: 10px solid rgba(255, 255, 255, 0.2);
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
		}
		section.only-sign > div::before{
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			left: 45px;
			border-bottom: 6px solid transparent;
			border-left: 10px solid #6f7884;
			border-top: 6px solid transparent;
		}
		section.only-sign > div:nth-of-type(1) {
			left: 234px;
			top: 490px;
			width: 187px;
			/* height: 37px; */
		}
		section.only-sign > div:nth-of-type(1)::after {
			top: -10px;
		}
		section.only-sign > div:nth-of-type(1)::before {
			top: -55px;
			transform: rotate(-30deg);
		}
		section.only-sign > div:nth-of-type(2) {
			left: 495px;
			top: 320px;
			width: 240px;
			/* height: 97px; */
		}
		section.only-sign > div:nth-of-type(2)::after {
			top: -10px;
		}
		section.only-sign > div:nth-of-type(2)::before {
			top: -88px;
			transform: rotate(-30deg);
		}
		section.only-sign > div:nth-of-type(3) {
			left: 850px;
			top: 170px;
			width: 240px;
			/* height: 110px; */
		}
		section.only-sign > div:nth-of-type(3)::after {
			bottom: -10px;
			transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-o-transform: rotate(180deg);
		}
		section.only-sign > div:nth-of-type(3)::before {
			bottom: -61px;
			transform: rotate(30deg);
		}
		section.only-sign > div:nth-of-type(4) {
			left: 1090px;
			top: 400px;
			width: 204px;
			/* height: 70px; */
		}
		section.only-sign > div:nth-of-type(4)::after {
			top: -10px;
		}
		section.only-sign > div:nth-of-type(4)::before {
			top: -59px;
			transform: rotate(-30deg);
		}
		section.only-sign > div:nth-of-type(5) {
			left: 1320px;
			top: 135px;
			width: 220px;
			/* height: 88px; */
		}
		section.only-sign > div:nth-of-type(5)::after {
			bottom: -10px;
			transform: rotate(180deg);
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-o-transform: rotate(180deg);
		}
		section.only-sign > div:nth-of-type(5)::before {
			bottom: -28px;
			transform: rotate(30deg);
		}
		section.only-sign > div:nth-of-type(6) {
			left: 1490px;
			top: 410px;
			width: 225px;
			/* height: 80px; */
		}
		section.only-sign > div:nth-of-type(6)::after {
			top: -10px;
		}
		section.only-sign > div:nth-of-type(6)::before {
			top: -47px;
			transform: rotate(15deg);
		}
	